
<div class="">
    {{ form_label(form.id, "ID") }}
    {{ form_widget(form.id,{'attr':{ 'placeholder' : 'From', 'class' : 'form-control'}}) }} 
</div>

<div class="">
	{{ form_label(form.name, "Name") }}
	<div class="input-group">
		{{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' } }) }}
		<div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li>{{ form_widget(form.nameOptions) }}</li>
	        </ul>
		</div>
	</div>
</div>

<div class="">
	{{ form_label(form.name, "Sku") }}
	<div class="input-group">
		{{ form_widget(form.sku, { 'attr' : { 'class' : 'form-control' } }) }}
		<div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li>{{ form_widget(form.skuOptions) }}</li>
	        </ul>
		</div>
	</div>
</div>

<div class="">
    {{ form_label(form.priceFrom, "Price") }}
    {{ form_widget(form.priceFrom,{'attr':{ 'placeholder' : 'From', 'class' : 'form-control'}}) }} 
    {{ form_widget(form.priceTo,{'attr':{ 'placeholder' : 'To', 'class' : 'form-control'}}) }}
</div>

<div class="">
    {{ form_label(form.costFrom, "Cost") }}
    {{ form_widget(form.costFrom,{'attr':{ 'placeholder' : 'From', 'class' : 'form-control'}}) }} 
    {{ form_widget(form.costTo,{'attr':{ 'placeholder' : 'To', 'class' : 'form-control'}}) }}
</div>

<div class="">
    {{ form_label(form.status) }}
    {{ form_widget(form.status,{'attr':{'class' : 'form-control'}}) }}
</div>

<div class="">
    {{ form_label(form.isActive) }}
    {{ form_widget(form.isActive,{'attr':{'class' : 'form-control'}}) }}
</div>
{{ form_rest(form) }}