{% macro product_upsale_prototype(prototype) %}
    {% spaceless %}
        <tr class="main-body product-upsale-__name__">
    	    <td>{{ form_widget(prototype.product, { 'attr' : { 'class' : 'form-control product-upsale-typeahead' }}) }}
    	    	
    	    </td>
    	    <td><div class="upsale-product-info-__name__"></div></td>
    		<td>
    		    <a href="javascript:void(0);" class="delete-product-upsale" title="Delete Upsale">
    		        <i class="icon icon-trash"></i>
    		    </a>
    		</td>
    	</tr> 
    {% endspaceless %}
{% endmacro %}

{% macro product_upsale(upsale, product) %}
    {% spaceless %}
			<tr class="main-body product-upsale-{{ upsale.vars.data.id }}">
	            <td>{{ form_widget(upsale.product, { 'attr' : { 'class' : 'form-control product-upsale-typeahead' }}) }}
	            <td>
					<div class="upsale-product-info-{{ upsale.vars.data.product.id }}">
	            		<div class="pull-left">
	            			{% if  upsale.vars.data.product.images|length %}
	            				<img src="{{ commerce_resize_product_image(upsale.vars.data.product.mainImage, 60, 60) }}" />
	            			{% else %}
	            				<img src="http://placehold.it/60x60" alt="{{ upsale.vars.data.product.name }}" class="img-rounded" />
	            			{% endif %}
	            		</div>
	            		<div><i>{{ upsale.vars.data.product.name }}</i> - SKU: {{ upsale.vars.data.product.sku }} </div>
	            		<div><strong>Price:</strong> ${{ upsale.vars.data.product.price|number_format(2) }}</div>
	            	</div>
	            </td>
	            <td>
	                <a href="{{ path('commerce_admin_product_upsale_delete', {'productId' : product.id, 'upsaleId' : upsale.vars.data.id }) }}" class="delete-product-upsale" title="Unrelate Product Upsale" data-target="tr.product-upsale-{{ upsale.vars.data.id }}"><i class="icon icon-trash"></i></a>        
	            </td>
	        </tr> 
    {% endspaceless %}
{% endmacro %}

{% import _self as renderHelper %}

<table class="table table-striped table-bordered table-condensed product-upsales-table">
    <thead>
	    <tr>
	        <th width="40%">Product</th>
	        <th>Info</th>
	        <th></th>
	    </tr>
    </thead>
    <tfoot>
        <tr>
             <th colspan="4" class="text-right">
                 <a href="javascript:void(0);" data-prototype="{{ renderHelper.product_upsale_prototype(form.upsales.vars.prototype)|e }}" title="Add Product Upsale" class="btn btn-primary btn-sm add-product-upsale"><i class="icon-plus"></i> Add Upsale</a>
             </th>
        </tr>
    </tfoot>
    <tbody>
        {% if form.upsales|length %}
	        {% for upsale in form.upsales %}
	        	{{ renderHelper.product_upsale(upsale, product) }}
	        {% endfor %}
	    {% endif %}
	    <tr class="no-results {{ form.upsales|length ? 'hide' : '' }}">
	        <td colspan="4" class="text-center"><strong>No Upsales Currently Related</strong></td>
	    </tr>
    </tbody>
</table>