	<!-- FOOTER START -->
	  <div class="footer-container">
	    <footer class="container">
	      <div class="footer-cutbody"></div>
	      <div class="footer-menu-container">
	          <ul class="inline footer-menu-base">
	              <li>
	        	    <div><img alt="We Accept All Major Credit Cards. Visa, Mastercard, Discover, and American Express" src="{{ asset('/bundles/splicedcommerce/images/cc_alt.png') }}"></div>
	        	    <div><img alt="We Accept PayPal" src="{{ asset('/bundles/splicedcommerce/images/paypal_logo.png') }}"></div>
	        	    <div><img alt="We Ship Using FedEx or USPS" src="{{ asset('/bundles/splicedcommerce/images/shipping_options_footer.png') }}"></div>
	        	    
	              </li>
	              <li>
	                  <ul class="unstyled footer-menu">
                        <li><a title="Go Home" href="{{ path('homepage') }}">Go Home</a></li>
        				<!-- <li><a title="Links &amp; Partners" href="{{ path('/partners-and-links') }}">Links &amp; Partners</a></li> -->
        				<li><a title="About Us" href="{{ path('/about-us') }}">About Us</a></li>
        				<li><a title="Get Help and Support" href="{{ path('/customer-service') }}">Get Support</a></li>
        				<li><a title="My Account" href="{{ path('commerce_account') }}">My Account</a></li>
        				<li><a title="Track an Order" href="{{ path('commerce_guest_order_lookup') }}">Track an Order</a></li>
        				<li><a title="Let us know how we are doing" href="{{ path('commerce_contact') }}">Feedback</a></li>
    	        	</ul>
	              </li>
	              <li>
	                <ul class="unstyled footer-menu">
    	        		<!-- <li><a title="Site Map" href="{{ path('/sitemap') }}">Site Map</a></li> -->
        				<li><a title="Advanced Search" href="{{ path('/') }}">Advanced Search</a></li>
        				<li><a title="Contact Quantum Technology" href="{{ path('commerce_contact') }}">Contact Us</a></li>
        				<li><a title="Privacy Policy" href="{{ path('/privacy-policy') }}">Privacy Policy</a></li>
        				<li><a title="Terms of Service" href="{{ path('/terms-of-service') }}">Terms of Service</a></li>
        				<li><a title="Shipping Policy" href="{{ path('/shipping-policy') }}">Shipping Policy</a></li>
    	        	    <li><a class="newsletter" title="Sign Up for our Newsletter" href="{{ path('commerce_newsletter_subscribe') }}">Sign Up for our Newsletter!</a></li>
    	        	</ul>
	              </li>
	              <li>
	                <a href="{{ path('/satesfaction-gurantee') }}"> 
	        		    <img alt="100% Satisfaction Guaranteed  Or Your Money Back " src="{{ asset('/bundles/splicedcommerce/images/satisfaction_gurantee.png') }}">
	        	    </a>
	        	    
	        	    <div class="text-center footer-social">
    	        	    <a title="Page on Facebook" target="_blank" href="https://www.facebook.com/memoryupgrades">
    	        			<img alt="Find us on Facebook" src="{{ asset('/bundles/splicedcommerce/images/icons/facebook_small.png') }}">
    	        		</a>
    	        		<a title="Follow on Twitter - qtmemory" href="https://www.twitter.com/qtmemory">
    	        			<img alt="Follow on Twitter" src="{{ asset('/bundles/splicedcommerce/images/icons/twitter_small.png') }}">
    	        		</a>
    	        		<a title="Connect on LinkedIn" href="http://www.linkedin.com/in/memoryupgrades">
    	        			<img alt="Connect on LinkedIn" src="{{ asset('/bundles/splicedcommerce/images/icons/linkedin_small.png') }}">
    	        		</a>
    	        		<a title="Follow us on Google Plus" href="https://plus.google.com/105912629415293780122/about">
    	        			<img alt="Follow us on Google Plus" src="{{ asset('/bundles/splicedcommerce/images/icons/gplus_small.png') }}">
    	        		</a>
	        	    </div>
	              </li>
	              <li>
	                 <div class="text-center"><img src="{{ asset('/bundles/splicedcommerce/images/godaddy-ssl.png') }}" alt="100% Secure SSL Encryption" /></div>
	        	     <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=YSrqC7FdzDr7JSkIfa523RHFTxCjyH8qvnPITTLAW1eLo92HdoH"></script></span>
	              </li>
	          </ul>
	      </div>
	      <div class="footer-copyright text-right">
	         <address>&copy; 2013 Quantum Technologies. All Rights Reserved.</address>
	      </div>
	    </div>
	  </div>
	  <!-- FOOTER END -->