
<ul class="social-login list-inline">
	<li class=""><a href="{{ path('login_facebook') }}"><img src="{{ asset('/bundles/splicedcommerce/images/buttons/signin_facebook.png') }}" /></a></li>
	<li class=""><a href="{{ path('login_twitter') }}"><img src="{{ asset('/bundles/splicedcommerce/images/buttons/signin_twitter.png') }}" /></a></li>
	<li class=""><a href="{{ path('login_google') }}"><img src="{{ asset('/bundles/splicedcommerce/images/buttons/signin_google.png') }}" /></a></li>
	<li class=""><a href="{{ path('login_paypal') }}"><img src="{{ asset('/bundles/splicedcommerce/images/buttons/signin_paypal.png') }}" /></a></li>
	<!-- <li><a href=""><img src="{{ asset('/bundles/splicedcommerce/images/buttons/signin_openid.png') }}" /></a></li>
    -->
</ul>
<div class="clearfix"></div>
