<div class="modal fade {{ class is defined ? class : '' }}" id="add-to-cart-modal" tabindex="-1" role="dialog" aria-labelledby="addToCardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addToCardModalLabel">Product Added to Shopping Cart</h4>
      </div>
      <div class="modal-body">
    	<h4>Your Shopping Cart</h4>
		<table class="table table-striped product-add-to-cart-modal-table">
			<thead>
				<tr>
					<th colspan="2">Item</th>
					<th>Quantity</th>
					<th>Unit</th>
					<th>Ext</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th colspan="4"><div class="text-right">Cart Total</div></th>
					<th>${{ commerce_cart_subtotal() }}</th>
				</tr>
			</tfoot>
			<tbody>
				{% for cartItem in items %}
					<tr>
						<td>
							{% if cartItem.product.images|length %}
								<img align="left" src="{{  commerce_resize_product_image(cartItem.product.images.first, commerce_get_config('commerce.product.image_cart_width'), commerce_get_config('commerce.product.image_cart_height')) }}" alt="{{ cartItem.product.name }}" />
							{% else %}
								<!-- DEFAULT IMAGE HERE -->
							{% endif %}
						</td>
						<td>{{ cartItem.product.name }}</td>
						<td>{{ cartItem.quantity }}</td>
						<td>${{ commerce_product_price(cartItem.product, cartItem.quantity) }}</td>
						<td>${{ commerce_product_price_total(cartItem.product, cartItem.quantity) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-close" id="modal-btn-close" data-href="">Continue Shopping</button>
	    <a id="modal-btn-to-cart" class="btn btn-primary" href="{{ path('commerce_cart') }}">View Cart</a>
	    <a href="{{ path('commerce_checkout') }}" class="btn btn-success" id="modal-btn-checkout">Checkout Now</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->