{#

#}

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; margin: 0 auto; ">

<a href="{{ commerce_get_config('commerce.store.url') }}">
    <img src="{{ commerce_get_config('commerce.store.url') }}/bundles/splicedcommerce/images/logo_email.png" alt="{{ commerce_get_config('commerce.store.name') }}"  style="margin-bottom:10px;" border="0"/>
</a>

{% if user.profile|length%}
<p><strong>Dear {{ user.profile.firstName }} {{ user.profile.lastName }}</strong>,</p>
{% else %}
<p><strong>Dear {{ user.email }},</strong></p>
{% endif %}
<p>We noticed you were trying to log into our website with your account. Your account requires you to reset your password. This is most likely due to our recent upgrade.</p>
<p>You will only need to complete this once, after that you will not be bothered about resetting your password unless you forget it or choose to reset it.</p>

<p><a href="{{ commerce_get_config('commerce.store.url') }}{{ path('commerce_force_password_reset',{'userId':user.id,'confirmationToken':user.confirmationToken}) }}">Please Click Here to Reset Your Password</a></p>

<hr />
{{ commerce_get_config('commerce.store.name') }}
</body>