{#

#}

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; margin: 0 auto; ">

<a href="{{ commerce_get_config('commerce.store.url') }}">
    <img src="{{ commerce_get_config('commerce.store.url') }}/bundles/splicedcommerce/images/logo_email.png" alt="{{ commerce_get_config('commerce.store.name') }}"  style="margin-bottom:10px;" border="0"/>
</a>

{% if user.profile|length%}
<p><strong>Dear {{ user.profile.firstName }} {{ user.profile.lastName }}</strong>,</p>
{% else %}
<p><strong>Dear {{ user.email }},</strong></p>
{% endif %}
<p>You are receiving this email because you have requested a password reset. If you have not issued a password reset, please contact {{ commerce_get_config('commerce.store.email.contact') }}.</p>
<p>To complete the password reset, please follow the link below.</p>

<p><a href="{{ commerce_get_config('commerce.store.url') }}{{ path('commerce_password_reset',{'userId':user.id,'confirmationToken':user.confirmationToken}) }}">Please Click Here to Reset Your Password</a></p>

<hr />
{{ commerce_get_config('commerce.store.name') }}
</body>