{% form_theme form "SplicedAdminThemeBundle:Form:bootstrap_form_row.html.twig" %}
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <form method="post" action="{{ path('spliced_cms_admin_content_page_filter') }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="filterModalLabel">Filter Content Pages</h4>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.id) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.key) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.isActive) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.hasDraft) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.createdAt) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.updatedAt) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="{{ path('spliced_cms_admin_content_page_filter_reset') }}" class="btn btn-default">Reset</a>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>
