{% extends 'SplicedCommerceBundle::Layouts/default.html.twig' %}
{% form_theme form 'SplicedCommerceBundle:Form:repeated_password_field.html.twig' %}

{% form_theme form 'SplicedCommerceBundle:Form:bootstrap_form_row.html.twig' %}

{% block title %}Password Reset | {{ commerce_get_config('commerce.store.name') }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Password Reset</h1>
</div>
<div class="alert alert-info">
{% if user.profile|length%}
<p><strong>Hi {{ user.profile.firstName }} {{ user.profile.lastName }}</strong>,</p>
{% else %}
<p><strong>Hi {{ user.email }},</strong></p>
{% endif %}
It looks as if you have requested to reset your password. Please set a new password with the form below.</div>
<form method="post" action="">
    {{ form_row(form.resetPassword) }}
    
    {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-success">Update Password</button>
    </div>
</form>
{% endblock %}