<ul class="list-unstyled">

    <li><strong>Variable Name</strong>: {{ templateExtension.settings.variableName }}</li>
    <li><strong>Form Name</strong>: {{ templateExtension.settings.formName }}</li>
    <li><strong>Success Message</strong>: {{ templateExtension.settings.successMessage }}</li>
    <li><strong>Error Message</strong>: {{ templateExtension.settings.errorMessage }}</li>
    <li><strong>E-Mail To:</strong>: {{ templateExtension.settings.emailTo }}</li>
    <li><strong>E-Mail CC:</strong>: {{ templateExtension.settings.emailCc }}</li>
    <li><strong>E-Mail Subject:</strong>: {{ templateExtension.settings.emailSubject }}</li>
    <li><strong>Email Submitter:</strong>: {{ templateExtension.settings.emailSubmitter ? 'Yes' : 'No' }}</li>
    <li><strong>Services:</strong>: {{ templateExtension.settings.services }}</li>
    <li><strong>Success Page:</strong>: {{ templateExtension.settings.successPage }}</li>

</ul>