{% form_theme form "SplicedCommerceAdminBundle:Form:bootstrap_form_row.html.twig" %}

{% if form.optionType is defined %}
<div class="form-group">
	<div class="col-lg-6 col-sm-6">
        {{ form_row(form.optionType, { 'help_text' : 'The type of attribute'}) }}
	</div> 
	<div class="col-lg-6 col-sm-6">
		{{ form_row(form.key, { 'help_text' : 'A unique key with no spaces or special characters other than _' }) }}
	</div>
</div>
{% endif %}

<div class="form-group">
	<div class="col-lg-6 col-sm-6">
		{{ form_row(form.name, { 'help_text' : 'The internal name of this attribute' }) }}
	</div> 
	<div class="col-lg-6 col-sm-6">
		{{ form_row(form.publicLabel, { 'help_text' : 'The name of this attribute that is displayed to the user' }) }}
	</div>
</div>

<div class="form-group">
	<div class="col-lg-12 col-sm-12">
		{{ form_row(form.description, {  }) }}
	</div>
</div>

<div class="form-group">
	<div class="col-lg-12 col-sm-12">
		{{ form_row(form.position, { 'help_text' : 'The sort position of the attribute when being listed with other attributes' }) }}
	</div>
</div>

