{% extends "SplicedCommerceBundle:Layouts:2columns-left.html.twig" %}

{% form_theme form "SplicedCommerceBundle:Form:bootstrap_form_row_labeless.html.twig" %}

{% block title %}Unsubscribe to Newsletter | {{ commerce_get_config('commerce.store.name') }}{% endblock %}

{% block head %}
<link rel="canonical" href="{{ commerce_get_config('commerce.store.url') }}{{ path('commerce_newsletter_unsubscribe') }}" />
{% endblock %}


{% block left %}
    {{ include('SplicedCommerceBundle:Newsletter:social_block.html.twig') }}
    {{ include('SplicedCommerceBundle:Newsletter:subscribe_info_block.html.twig') }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Newsletter <small>Unsubscribe</small></h1>
     </div>   
     
     <form method="post" action="">
         <div class="alert alert-info">
             <p>We are sad you wish to unsubscribe. Once you unsubscribe you will no longer recieve email
             notifications from us. Enter your email address below to unsubscribe.</p>
                          
          </div>
            
            <div>
                {{ form_row(form.email,{
                    'attr':{ 
                        'placeholder' : 'Enter Your Email Address', 
                        'class' : 'input-block-level'
                    }
                }) }}
                
            </div>
            
            {{ form_rest(form) }}
            
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Unsubscribe</button>
            </div>
        </form>
    
{% endblock %}
