{#
	Product/tier_price_table.html.twig
	@package SplicedCommerceBundle
	@author Gassan Idriss - ghassani@splicedmedia.com

	@var product
	@var includeNoTier
#}


<table class="table table-striped table-bordered product-tier-price-table table-condensed">
	<thead>
		<tr>
			<th>Qty</th>
			<th>Unit Price</th>
			<!--<th>Starting Total</th> -->
		</tr>
	</thead>
	<tbody>
		{% if includeNoTier is defined %}
		<tr>
			<td><strong>1-2</strong></td>
			<td><span  class="green">${{ commerce_product_price(product, 1) }} each</span></td>
		</tr>
		{% endif %}
		{% set i = 1 %}
		{% for tierPrice in product.tierPrices %}
		    {% if maxLevels is defined and i > maxLevels %}
		        {% if displayedMoreButton is not defined %}
		            <tr>
		                <td colspan="2"><a href="{{ path(product.urlSlug) }}#TieredPricing" class="btn btn-info btn-block">View More Tiered Discounts</a></td>
		            </tr>
		            {% set displayedMoreButton = true %}
		        {% endif %}
		    {% else %}
        		<tr>
        			<td>
        			    <strong>
        				{% if  tierPrice.minQuantity != tierPrice.maxQuantity %}
        					{% if tierPrice.maxQuantity == -1 %}
        						<abbr title="Final price depends on the number of items you purchase.">{{ tierPrice.minQuantity }}+</abbr>
        					{% else %}
        						{{ tierPrice.minQuantity }}-{{ tierPrice.maxQuantity }}
        					{% endif %}
        				{% else %}
        					{{ tierPrice.minQuantity }}
        				{%  endif %}
        				</strong>
        			</td>
        			<td><span class="green">${{ commerce_product_price(product, tierPrice.minQuantity, tierPrice) }} each</span></td>
        		</tr>
        	{% endif %}
		    {% set i = i+1 %}
		{% endfor %}
	</tbody>
</table>
