<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Administration | {{ commerce_get_config('commerce.store.name') }}{% endblock %}</title>
    {{ include('SplicedCommerceAdminBundle:Layouts/Block:head.html.twig') }}   
</head>
<body>

<header>
    {{ include('SplicedCommerceAdminBundle:Layouts/Block:header.html.twig') }}
</header>

<div class="row">
    <div class="col-lg-1 side-nav">
        {{ include('SplicedCommerceAdminBundle:Layouts/Block:menu.html.twig') }}
    </div>
    <div class="col-lg-11 main-content">
        <nav class="top-nav">
        {% block content_section_header %}
        
        {% endblock %}
        </nav>
        {{ include("SplicedCommerceAdminBundle:Layouts/Block:messages.html.twig") }}
        <div class="row">
            <div class="col-lg-10">
            {% block content %}
        
            {% endblock %}
            </div>
            <div class="col-lg-2">
            {% block right %}
        
            {% endblock %}
            </div>
        </div>
    </div>
    
</div>

{{ include('SplicedCommerceAdminBundle:Layouts/Block:footer.html.twig') }}
</body>
</html>